player-connection-mode=Listen
player-connection-guid=3276352772
player-connection-debug=0
player-connection-project-name=NewPerceptionSim
player-connection-ip=192.168.174.1
player-connection-ip=192.168.83.1
player-connection-ip=10.32.15.22
player-connection-ip=192.168.56.1
player-connection-ip=10.2.0.2
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
